:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-neutral-200: #e0e0e0;
  --color-neutral-100: #ffffff;
  --color-accent-secondary: #efe8f9;
  --border-radius-small: 0.6rem;
  --border-radius-medium: 1rem;
  --color-accent-primary: #39CDCC;
  --app-dark-500: #213F7D;
  --app-primary-400: #545F7D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}